@{
    ViewBag.Title = "Index";
}
<asp:Content ID="Content1" ContentPlaceHolderID="TitleContent" runat="server>
    MDX Query
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server>
<h2>My MDX Application</h2>
Hola, World!
</asp:Content>
